:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-dark: #C4C4C4;
    --color-gray-light: #D6D6D6;
    --color-primary-light: #01996D;
    --color-primary-dark: #245852;
    --color-text-light: #424242;
    --color-text: #484848;
    --color-text-dark: #292929;

    --font-main: 'Poppins', sans-serif;
    --font-add: 'Lato', sans-serif;
    --font-logo: 'Montserrat', sans-serif;

    --transition: .2s all ease-in-out;
}

body {
    font-family: var(--font-main);
    color: var(--color-text-dark);
}

/* common styles */

.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: var(--font-add);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 50px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: var(--transition);
}

.btn_link {
    color: var(--color-black);
}

.btn_link:hover {
    color: var(--color-primary-dark);
}

.btn_primary {
    background: var(--color-primary-light);
    color: var(--color-white);
    border-color: var(--color-primary-light);
}

.btn_primary:hover {
    background: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}

.wrapper {
    max-width: 1920px;
    margin-inline: auto;
}

.container {
    max-width: 1920px;
    margin-inline: auto;    
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* common styles end */

/* header */

.header {
    padding: 28px 275px;
    border-bottom: 1px solid var(--color-gray-light);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: var(--font-logo);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: var(--color-primary-light);
}

.header__ul {
    display: flex;
    align-items: center;
    gap: 72px;
}

.header__a {
    font-family: var(--font-add);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-dark);
    transition: var(--transition);
}

.header__a:hover {
    color: var(--color-primary-light);
}

.header__ul .material-icons-outlined {
    display: none;
}

.header__burger {
    display: none;
    color: var(--color-primary-light);
}

/* header end */


/* main-section */

.main-section {
    height: calc(100vh - 110px);
    position: relative;
    padding: 0 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 170px;
}

.main-section__bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.main-section__bg  img{
    height: 100%;
}

.main-section__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 65px;
    line-height: 98px;
    max-width: 443px;
    color: var(--color-primary-light);
    margin-bottom: 10px;
}

.main-section__desc {
    font-family: var(--font-add);
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    max-width: 420px;
    color: var(--color-text);
    margin-bottom: 53px;
}

/* main-section end */

/* how-section */

.how-section {
    padding: 0 345px 0 264px;
    margin-bottom: 392px;
}

.how-section__title {
    font-family: var(--font-add);
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: var(--color-text-light);
}

.how-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 80px;
}

.how-section__slogan {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    max-width: 579px;
    color: var(--color-primary-light);
}

.how-section__desc {
    font-family: var(--font-add);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    max-width: 670px;
    color: var(--color-text-light);
}

.how-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.how-section .item {
    display: flex;
    flex-direction: column;

}

.how-section .item__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: var(--color-black);
    margin-bottom: 20px;
}

.how-section .item__desc {
    font-family: var(--font-add);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    flex-grow: 1;
    color: var(--color-text-light);
    margin-bottom: 65px;
}

.how-section .item__img {
    max-width: 390px;
    border-radius: 12px;
}

/* how-section end */

/* story-section */

.story-section {
    background: var(--color-primary-dark);
    display: flex;
    padding: 310px 207px 260px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.story-section__video {
    position: absolute;
    right: 206px;
    top: 229px;
    max-width: 100%;
}

.story-section__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-white);
    max-width: 580px;
    margin-bottom: 33px;
}

.story-section__desc {
    font-family: var(--font-add);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--color-white);
    max-width: 550px;
    margin-bottom: 57px;
}

.story-section .btn {
    padding: 20px 50px;
}

/* story-section end */

/* product-section */

.product-section {
    padding: 120px 316px 242px 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 20px;
}

.product-section__photo {
    max-width: 100%;
}

.product-section__text {
    position: absolute;
    top: 120px;
    right: 316px;
}

.product-section__info {
    font-family: var(--font-add);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--color-text-light);
    max-width: 136px;
    margin-bottom: 10px;
}

.product-section__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-primary-light);
    max-width: 573px;
    margin-bottom: 20px;
}

.product-section__desc {
    font-family: var(--font-add);
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: var(--color-text);
    max-width: 530px;
    margin-bottom: 40px;
}

.product-section .btn {
    padding: 20px 50px;
}

/* product-section end */

/* footer */

.footer {
    background: var(--color-primary-dark);
    padding: 95px 271px 89px 275px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    font-family: var(--font-logo);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: var(--color-white);
}

.footer__ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.footer__a {
    font-family: var(--font-add);
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: var(--color-white);
}

.footer__a:hover {
    color: var(--color-primary-light);
}


/* footer end */

@media (max-width: 1600px) {
    .how-section .item {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .header__auth {
        display: none;
    }
}

@media (max-width: 992px) {            
    .header {
        padding: 28px 50px;
    }

    .header__logo {
        font-size: 30px;
        line-height: 39px;
    }

    .header__ul {
        gap: 50px;
    }

    .header__a {
        font-size: 18px;
        line-height: 22px;
    }

    .main-section__bg {
        z-index: -1;
        filter: opacity(70%);
    }

    .main-section {
        margin-inline: auto;
        margin-bottom: 100px;
    }
    
    .main-section__title {
        font-size: 56px;
        line-height: 80px;
    }
    
    .main-section__desc {
        font-size: 20px;
        line-height: 31px;
    }

    .how-section__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .how-section {
        padding: 0 100px;
        margin-bottom: 200px;
    }
    
    .how-section__header {
        margin-bottom: 60px;
    }
    
    .how-section__slogan {
        font-size: 40px;
        line-height: 150%;
    }
    
    .how-section__desc {
        font-size: 20px;
        line-height: 150%;
    }
    
    .how-section .item__title {
        font-size: 26px;
        line-height: 150%;
    }
    
    .how-section .item__desc {
        font-size: 18px;
        margin-bottom: 65px;
    }

    .story-section {
        flex-wrap: wrap;
        padding: 200px 100px;
    }
    
    .story-section__video {
        max-width: 500px;
    }
    
    .story-section__title {
        font-size: 40px;
        line-height: 150%;
    }
    
    .story-section__desc {
        font-size: 20px;
    }

    .product-section {
        padding: 100px;
    }
    
    .product-section__photo {
        max-width: 100%;
    }
    
    .product-section__info {
        font-size: 22px;
    }
    
    .product-section__title {
        font-size: 36px;
        max-width: 470px;
    }
    
    .product-section__desc {
        font-size: 20px;
        line-height: 26px;
        max-width: 430px;
    }

    .footer {
        padding: 75px 100px;
    }
    
    .footer__logo {
        font-size: 30px;
        line-height: 38px;
    }
    
    .footer__ul {
        gap: 35px;
    }
    
    .footer__a {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 786px) {
    .main-section {
        padding: 0 100px;
        align-items: center;
    }
}

@media (max-width: 492px) {
    .header__ul {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow-y: auto;
        background: var(--color-primary-dark);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        z-index: 5;
        transition: var(--transition);
        transform: translateX(120%);
    }

    .header__ul._active {
        transform: translateX(0);
    }

    .header__ul .material-icons-outlined {
        display: inline-block;
        position: fixed;
        top: 20px;
        right: 20px;
        color: var(--color-white);
        cursor: pointer;
    }

    .header__burger {
        display: inline-block;
        cursor: pointer;
    }

    .header__a {
        color: var(--color-white);
        font-size: 16px;
        line-height: 24px;
    }
    .how-section {
        margin-inline: auto;
        padding: 0 20px;
    }

    .how-section__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .how-section .item__img {
        max-width: 100%;
        width: 100%;
    }
}
